@font-face {
    font-family: "helvetica";
    src: url(/ressource/font/Helvetica\ 400.ttf);
}

@font-face {
    font-family: "worstveld-sling-extra";
    src: url(/ressource/font/worstveld-sling-extra_[fr.allfont.net].ttf);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

h1 {
    font-size: 48px;
    font-family: "worstveld-sling-extra";
}

h2 {
    font-size: 35px;
    font-family: "worstveld-sling-extra";
}

h3 {
    font-size: 26px;
}

h4,
h5 {
    font-size: 24px;
}

li,
button,
label,
input,
p {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    padding: 15px 30px;
    background: #e8b1be;
    border: none;
    color: #784266;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

button:hover,
.text:hover,
img:hover {
    background: #784266;
    color: white;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.text {
    padding: 10px;
}

.text svg {
    margin-left: 10px;

}

.main-head {
    background-color: white;
}

header {
    min-height: 10vh;
    -webkit-box-shadow: 0px 0px 8px #555;
    box-shadow: 0px 0px 8px #555;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%;
    margin: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 500px;
    flex: 1 1 500px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-family: "helvetica";
}

nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav ul li a:hover {
    color: #784266;
    border-bottom: 2px solid #e8b1be;
}

nav>ul li:hover .sous {
    display: block;
}


.sous {
    display: none;
    background-color: white;
    position: absolute;
    z-index: 1000;

}

.sous.block {
    display: block;
}

.sous li {
    float: none;
    width: 100%;
    text-align: left;
}

.sous a {
    font-size: 15px;
    padding: 10px;
    border-bottom: none;
    display: block;
}

.sous a:hover {
    border-bottom: none;
    background-color: RGBa(200, 200, 200, 0.1);
}

.deroulant span {

    position: relative;
}

.deroulant span svg {
    position: absolute;
    top: -2px;
    left: 3px;
}

#logo {
    -webkit-box-flex: 2;
    -ms-flex: 2 1 200px;
    flex: 2 1 200px;

}

#logo img {
    height: 100%;
    max-width: 100%;
    max-height: 100px;
}

.info {
    background-color: #784266;
    height: 100%;
}

.info-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.info-content * {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.info-container {
    width: 80%;
    margin: auto;
    padding: 30px 0;
}

.info-img {
    margin: 10px 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 350px;
    flex: 1 1 350px;

}



.info-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 2;
    -ms-flex: 2 1 350px;
    flex: 2 1 350px;
}

.info-text p {
    font-family: "helvetica";
    color: white;
    margin-right: 10%;
    text-align: justify;
    line-height: 30px;
}

.info-text button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.chat {
    background-color: white;
    height: 100%;
    width: 100%;
}

.chat-container {
    width: 100%;
}

.chat-container-cote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 60px;
}

.chat-pres a {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    background: #e8b1be;
    border: none;
    color: #784266;
    border-radius: 5px;
    font-weight: normal;
    font-size: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.chat-pres {

    width: 500px;
}

.chat-pres img {
    width: 100%;
}

.chat-chatons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 700px;
    margin: 20px auto 0 auto;
}

.chat-chatons img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.chat-chatons a {
    background: #e8b1be;
    border: none;
    color: #784266;
    border-radius: 5px;
    font-weight: normal;
    font-size: 20px;
    margin-top: 5px;
}

.decouvrir {
    height: 400px;
    width: 100%;
    margin-top: 50px;
}

.decouvrir-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.decouvrir-container h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 30px;
    color: #784266;
    font-family: "helvetica";
    font-size: 20px;

}

.decouvrir-container i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.decouvrir-container button {
    margin-top: 50px;
}

.decouvrir-container label {
    color: #784266;
    font-family: "helvetica";
}

.label input {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer-container {
    background-color: #e8b1be;
    text-align: center;
    font-family: "helvetica";

}

.footer-container p {
    color: #784266;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 20px;

}

.footer-container i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;


}

.social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px;
    font-size: 25px !important;
}

/* TEST SLIDER  */

/* Slideshow container */
.slideshow-container {

    -webkit-box-flex: 2;

    -ms-flex: 2 1 450px;

    flex: 2 1 450px;
}

/* Hide the images by default */
.mySlides {

    display: none;
    height: 650px;
    /* margin: 50px 0; */
    position: relative;
}

.mySlides img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.mySlides a {
    color: #f2f2f2;
    font-size: 15px;
    padding: 15px 42px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);


    text-align: center;
    background-color: violet;
}




.wel-test {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

.wel-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 450px;
    flex: 1 1 450px;
    height: 650px;
    background-image: url('./ressource/image/jardin-de-la-chatterie.jpg');
    background-position: center;
    background-size: cover;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.wel-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #784266;
    font-size: 30px;
    padding: 50px 20px;
    font-weight: bold;

    background-color: rgba(255, 255, 255, 0.5);
}

.wel-content p {
    font-family: "helvetica";
    text-align: center;
    line-height: 30px;
    margin-top: 30px;
}

.wel-content a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3px;
    margin-top: 20px;
    background: #e8b1be;
    border: none;
    color: #784266;
    border-radius: 5px;
    font-weight: normal;
    font-size: 20px;


}



.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}




@media screen and (max-width:1112px) {
    nav {
        text-align: center;
        padding-bottom: 10px;
    }
    #logo {
        padding: 10px;
        padding-bottom: 10px;
    }
    .info-text p {
        font-size: 15px;
    }
}
@media screen and (max-width:999px) {
    .numbertext {
        padding: 10px 20px;
        font-size: 40px;
    }
}
@media screen and (max-width:899px) {
    .slideshow-container {
        display: none;
    }
}
@media screen and (max-width:875px) {
    .info-text p {
        margin-right: 0;
    }
    .info-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .info-img img {
        width: 80%;
    }
    .decouvrir-container h2 {
        text-align: center;
    }
}
@media screen and (max-width:700px) {
    .hero button {
        padding: 10px 20px;
        font-size: 16px;
    }
}
@media screen and (max-width:530px) {
    nav ul li {
        font-size: 12px !important;
        text-transform: lowercase !important;
    }
    .hero h2 {
        font-size: 35px;
        ;
    }
}

@media screen and (max-width: 900px) {
    .info-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .info-content * {
        -ms-flex-preferred-size: initial;
        flex-basis: initial;
    }

    .info-content img {
        max-width: 100%;
    }
}